/* over riding default button */
.btn {
    border-radius: 5px !important;
    font-size: 15px !important;
    font-weight: normal !important;
    color: #ffffff !important;
  }
  
  .btn-primary {
    background-color: #2b339d;
    border-color: #2b339d;
  }
  
  .btn-secondary {
    background-color: #DFE6ED;
    border-color: #DFE6ED;
  }
  